.btn-primary {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  padding: 15px 43px;
  background-color: var(--brown-color);
  font-family: var(--first-font);
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: var(--white-color);
  outline: 0;
  transition: background-color 0.3s linear;

  &:hover {
    background-color: #9B6B34;
  }

  &:disabled {
    background-color: #BABABA;
  }
}

.btn-secondary {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  padding: 15px 43px;
  background-color: var(--white-color);
  border: 1px solid var(--brown-color);
  font-family: var(--first-font);
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: var(--green-color);
  outline: 0;
  transition: background-color 0.3s linear, color 0.3s linear;

  &:hover {
    background-color: var(--brown-color);
    color: var(--white-color);
  }

  &:disabled {
    background-color: var(--white-color);
    border-color: var(--dark-grey-color);
    color: var(--dark-grey-color);
  }
}

.btn-secondary-white {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  padding: 15px 43px;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  font-family: var(--first-font);
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: var(--white-color);
  outline: 0;
  transition: background-color 0.3s linear, color 0.3s linear;

  &:hover {
    background: rgba(255, 255, 255, 0.05);
    border: 1px solid var(--white-color);
  }

  &:disabled {
    background: rgba(186, 186, 186, 0.05);
    border: 1px solid rgba(186, 186, 186, 0.2);
    color: rgba(186, 186, 186, 0.6);
  }
}

.link-arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  column-gap: 10px;
  font-family: var(--first-font);
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: var(--brown-color);
  transition: color 0.3s linear;

  &:hover {
    color: var(--yellow-color);
  }

  &:disabled {
    color: var(--dark-grey-color);
  }
}

.input {
  width: 100%;
  height: 35px;
  padding-bottom: 15px;
  border-bottom: 1px solid var(--white-color);
  background-color: transparent;
  font-family: var(--first-font);
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: var(--white-color);
  opacity: 0.7;
  outline: 0;
  transition: all 0.3s linear;

  &::placeholder {
    font-family: var(--first-font);
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: var(--white-color);
  }

  &:hover {
    opacity: 1;
  }

  &:focus {
    border-color: var(--brown-color);
    opacity: 1;
  }

  &:active {
    border-color: var(--yellow-color);
    opacity: 1;
  }

  &.js_error {
    border-color: #EA0000;
    color: #EA0000;
    opacity: 1;
  }
}

.main-title {
  position: relative;
  padding-bottom: 30px;
  font-family: var(--second-font);
  font-weight: 400;
  font-size: 50px;
  line-height: 110%;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: var(--green-color);

  & span {
    color: var(--brown-color);
  }

  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 360px;
    height: 1px;
    background-color: var(--brown-color);
  }
}