.callback-form {
  padding: 100px 0;
  background-color: var(--grey-color);

  @media (max-width: $breakpoint992) {
    padding: 80px 0;
  }

  // .callback-form__title

  &__title {
    margin-bottom: 20px;
    padding-bottom: 0;
    text-align: center;

    &::after {
      content: none;
    }
  }

  // .callback-form__descr

  &__descr {
    margin-bottom: 50px;
    font-size: 16px;
    line-height: 20px;
    text-align: center;

    @media (max-width: $breakpoint768) {
      font-size: 14px;
      line-height: 18px;
    }
  }

  // .callback-form__main

  &__main {}

  // .callback-form__list

  &__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px 30px;
    margin-bottom: 45px;

    @media (max-width: $breakpoint768) {
      grid-template-columns: repeat(1, 1fr);
      gap: 30px 20px;
      margin-bottom: 30px;
    }
  }

  // .callback-form__item

  &__item {

    &:last-child {
      grid-column: span 2;
    }


    @media (max-width: $breakpoint768) {
      &:last-child {
        grid-column: span 1;
      }
    }
  }

  // .callback-form__input

  &__input {
    border-color: var(--green-color);
    color: var(--green-color);

    &::placeholder {
      color: var(--green-color);
    }
  }

  // .callback-form__input--textarea

  &__input--textarea {
    width: 100%;
    border-bottom: 1px solid var(--green-color);
    background-color: transparent;
    font-family: var(--first-font);
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: var(--green-color);
    transition: all 0.3s linear;
    opacity: 0.7;
    outline: 0;
    resize: none;

    &::placeholder {
      font-family: var(--first-font);
      font-weight: 400;
      font-size: 16px;
      line-height: 20px;
      color: var(--green-color);
    }

    &:hover {
      opacity: 1;
    }

    &:focus {
      border-color: var(--brown-color);
      opacity: 1;
    }

    &:active {
      border-color: var(--yellow-color);
      opacity: 1;
    }

    &.js_error {
      border-color: #EA0000;
      color: #EA0000;
      opacity: 1;
    }


    @media (max-width: $breakpoint992) {
      height: 120px;
    }
  }

  // .callback-form__footer

  &__footer {
    display: flex;
    align-items: center;
    gap: 30px;

    @media (max-width: $breakpoint992) {
      flex-direction: column;
      align-items: center;
      gap: 20px;
    }
  }

  // .callback-form__btn

  &__btn {
    @media (max-width: $breakpoint992) {
      width: 100%;
    }
  }

  // .callback-form__political

  &__political {
    font-size: 14px;
    line-height: 18px;
    color: var(--green-color);

    @media (max-width: $breakpoint992) {
      text-align: center;
    }
  }

  // .callback-form__political-link

  &__political-link {
    font-size: 14px;
    line-height: 18px;
    color: var(--brown-color);

    &:hover {
      text-decoration: underline;
    }
  }
}