.corporate {
  padding: 100px 0 310px;
  background-image: url('../img/corporate-bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;

  @media (max-width: $breakpoint992) {
    padding: 80px 0 360px;
  }

  @media (max-width: $breakpoint768) {
    padding: 80px 0 455px;
  }

  // .corporate__descr

  &__descr {
    margin-bottom: 20px;
    color: var(--white-color);

    @media (max-width: $breakpoint992) {
      margin-bottom: 15px;
      font-size: 16px;
      line-height: 20px;
    }
  }

  // .corporate__title

  &__title {
    margin-bottom: 40px;
    color: var(--white-color);

    &::after {
      content: none;
    }
  }

  // .corporate__link

  &__link {
    width: fit-content;
    margin: 0 auto;
    background-color: transparent;
    border-color: rgba(255, 255, 255, 0.3);
    color: var(--white-color);
  }
}