.entertainment-services {
  background-color: var(--white-color);

  // .entertainment-services__inner

  &__inner {}

  // .entertainment-services__title

  &__title {
    padding-bottom: 0;
    margin-bottom: 50px;

    &::after {
      content: none;
    }

    @media (max-width: $breakpoint992) {
      margin-bottom: 40px;
    }

    @media (max-width: $breakpoint768) {
      margin-bottom: 30px;
    }
  }

  // .entertainment-services__info

  &__info {
    position: relative;
    padding: 100px 0;
    background-color: var(--grey-color);

    @media (max-width: $breakpoint992) {
      padding: 80px 0;
    }

    @media (max-width: $breakpoint768) {
      padding: 40px 0;
    }


  }

  // .entertainment-services__slider

  &__slider {
    position: relative;
    // max-width: 520px;
    overflow: hidden;

    @media (max-width: $breakpoint992) {
      text-align: center;
    }

  }

  // .entertainment-services__wrapper

  &__wrapper {}

  // .entertainment-services__slide

  &__slide {
    width: 100% !important;
  }

  // .entertainment-services__slide-img

  &__slide-img {
    max-width: 100%;
    object-fit: fill;
    height: 100%;

    @media (max-width: $breakpoint992) {
      width: 100%;
      min-height: 280px;

    }

    @media (max-width: $breakpoint768) {
      object-fit: cover;
    }

  }

  // .entertainment-services__slider-controls

  &__slider-controls {}

  // .entertainment-services__slider-prev

  &__slider-prev {
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
    z-index: 2;
    cursor: pointer;

    &:hover {
      svg rect {
        stroke: var(--green-color);
      }

      svg path {
        fill: var(--green-color);
      }
    }

    &.swiper-button-disabled {
      opacity: 0.5;

      &:hover {
        svg rect {
          stroke: var(--white-color);
        }

        svg path {
          fill: var(--white-color);
        }
      }
    }
  }

  // .entertainment-services__slider-next

  &__slider-next {
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
    z-index: 2;
    cursor: pointer;

    &:hover {
      svg rect {
        stroke: var(--green-color);
      }

      svg path {
        fill: var(--green-color);
      }
    }

    &.swiper-button-disabled {
      opacity: 0.5;

      &:hover {
        svg rect {
          stroke: var(--white-color);
        }

        svg path {
          fill: var(--white-color);
        }
      }
    }
  }

  // .entertainment-services__pagination

  &__pagination {
    position: absolute;
    padding: 15px 0;
    bottom: 20px;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    gap: 10px;

    & .swiper-pagination-bullet {
      flex: 0 1 calc(25% - 10px);
      height: 1px;
      background-color: var(--white-color);
      opacity: 0.3;
    }

    & .swiper-pagination-bullet.swiper-pagination-bullet-active {
      opacity: 1;
    }
  }

  // .entertainment-services__list

  &__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    padding: 100px 0;

    @media (max-width: $breakpoint992) {
      grid-template-columns: repeat(2, 1fr);
      gap: 20px;
      padding: 80px 0;
    }

    @media (max-width: $breakpoint768) {
      grid-template-columns: repeat(1, 1fr);
    }
  }

  // .entertainment-services__item

  &__item {
    display: grid;
    overflow: hidden;
  }

  // .entertainment-services__item-slider

  &__item-slider {
    position: relative;
    max-width: 360px;

    @media (max-width: $breakpoint992) {
      max-width: 100%;
    }
  }

  // .entertainment-services__item-wrapper

  &__item-wrapper {}

  // .entertainment-services__item-slide

  &__item-slide {
    width: 100% !important;
  }

  // .entertainment-services__item-img

  &__item-img {
    max-width: 100%;
    width: 100%;
    height: 300px;
    object-fit: cover;
  }

  // .entertainment-services__item-controls

  &__item-controls {}

  // .entertainment-services__item-prev

  &__item-prev {
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
    z-index: 2;
    cursor: pointer;

    &:hover {
      svg rect {
        stroke: var(--green-color);
      }

      svg path {
        fill: var(--green-color);
      }
    }

    &.swiper-button-disabled {
      opacity: 0.5;

      &:hover {
        svg rect {
          stroke: var(--white-color);
        }

        svg path {
          fill: var(--white-color);
        }
      }
    }
  }

  // .entertainment-services__item-next

  &__item-next {
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
    z-index: 2;
    cursor: pointer;

    &:hover {
      svg rect {
        stroke: var(--green-color);
      }

      svg path {
        fill: var(--green-color);
      }
    }

    &.swiper-button-disabled {
      opacity: 0.5;

      &:hover {
        svg rect {
          stroke: var(--white-color);
        }

        svg path {
          fill: var(--white-color);
        }
      }
    }
  }

  // .entertainment-services__item-pagination

  &__item-pagination {
    position: absolute;
    padding: 15px 0;
    bottom: 20px;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    gap: 10px;

    & .swiper-pagination-bullet {
      flex: 0 1 calc(25% - 10px);
      height: 1px;
      background-color: var(--white-color);
      opacity: 0.3;
    }

    & .swiper-pagination-bullet.swiper-pagination-bullet-active {
      opacity: 1;
    }
  }

  // .entertainment-services__item-info

  &__item-info {
    display: grid;
    min-height: 180px;
    padding: 30px;
    background-color: var(--green-color);
    color: var(--white-color);
  }

  // .entertainment-services__item-title

  &__item-title {
    margin-bottom: 5px;
    font-family: var(--second-font);
    font-size: 24px;
    line-height: 110%;
    letter-spacing: 0.02em;
  }

  // .entertainment-services__item-label

  &__item-label {
    font-size: 16px;
    line-height: 20px;
  }

  // .entertainment-services__item-sum

  &__item-sum {
    display: flex;
    gap: 5px;
    margin-top: auto;
    font-family: var(--second-font);
    font-size: 24px;
    line-height: 110%;
    letter-spacing: 0.02em;

    span {
      font-family: var(--first-font);
      font-size: 16px;
      line-height: 20px;
      display: flex;
      align-items: center;
      opacity: 0.5;
    }
  }
}

.info-services {

  .info-services--container {
    display: grid;
    grid-template-columns: 560px 520px;
    gap: 80px;

    @media (max-width: 1200px) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media (max-width: $breakpoint992) {
      display: flex;
      flex-direction: column-reverse;
      gap: 40px;
    }

  }

  // .info-services__main

  &__main {
    z-index: 2;
  }

  // .info-services__title

  &__title {
    margin-bottom: 20px;
  }

  // .info-services__descr

  &__descr {
    margin-bottom: 30px;
    font-size: 16px;
    line-height: 20px;
  }

  // .info-services__prices

  &__prices {
    display: grid;
    gap: 14px;
    margin-bottom: 30px;
  }

  // .info-services__price

  &__price {
    display: flex;
    justify-content: space-between;
    gap: 15px;
  }

  // .info-services__date

  &__date {
    font-family: var(--second-font);
    font-size: 18px;
    line-height: 110%;
    letter-spacing: 0.02em;
  }

  // .info-services__line

  &__line {
    border-bottom: 1px solid var(--brown-color);
    opacity: 0.3;
    width: 100%;
  }

  // .info-services__sum

  &__sum {
    display: flex;
    gap: 5px;
    font-family: var(--second-font);
    font-size: 22px;
    line-height: 110%;
    letter-spacing: 0.02em;

    span {
      font-family: var(--first-font);
      font-size: 16px;
      line-height: 20px;
      opacity: 0.5;
    }
  }

  // .info-services__footer

  &__footer {
    display: flex;
    align-items: center;
    gap: 40px;

    @media (max-width: $breakpoint768) {
      flex-direction: column;
      gap: 20px;
    }

  }

  // .info-services__link

  &__link {

    @media (max-width: $breakpoint768) {
      width: 100%;
    }

  }

  // .info-services__footer-info

  &__footer-info {
    display: flex;
    align-items: center;
    gap: 15px;
  }

  // .info-services__footer-icon

  &__footer-icon {}

  // .info-services__footer-descr

  &__footer-descr {
    font-size: 14px;
    line-height: 18px;
  }
}