@font-face {
  font-family: 'Mulish Regular';
  src: url('../fonts/Mulish-Regular.ttf');
  font-weight: 400;
}

@font-face {
  font-family: 'Mulish Bold';
  src: url('../fonts/Mulish-Bold.ttf');
  font-weight: 700;
}

@font-face {
  font-family: 'Yeseva One';
  src: url('../fonts/YesevaOne-Regular.ttf');
  font-weight: 400;
}