// Footer

.footer {
  padding: 90px 0 40px 0;
  background-color: var(--green-color);


  @media (max-width: $breakpoint992) {
    padding: 70px 0 40px 0;
  }

  @media (max-width: $breakpoint768) {
    padding: 50px 0;
  }

  // .footer__inner

  &__inner {
    display: flex;
    flex-direction: column;
  }

  // .footer__top

  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 70px;


    @media (max-width: $breakpoint992) {
      margin-bottom: 40px;
      padding-right: 50px;
    }

    @media (max-width: $breakpoint768) {
      flex-direction: column;
      gap: 50px;
      padding-right: 0;
      align-items: center;
    }
  }

  // .footer__logo

  &__logo {
    display: flex;
    align-items: flex-end;
    gap: 30px;
  }

  // .footer__logo-link

  &__logo-link {}

  // .footer__logo-img

  &__logo-img {}

  // .footer__logo-name

  &__logo-name {
    font-family: var(--first-font);
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: var(--white-color);
  }

  // .footer__booking

  &__booking {
    display: flex;
    align-items: center;
    gap: 40px;


    @media (max-width: $breakpoint992) {
      flex-direction: column;
      gap: 12px;
    }

    @media (max-width: $breakpoint480) {
      width: 100%;
    }
  }

  // .footer__calls

  &__calls {}

  // .footer__call-num

  &__call-num {
    margin-bottom: 5px;
    font-family: var(--first-font);
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    color: var(--white-color);

    @media (max-width: $breakpoint768) {
      display: inline-flex;
      margin-bottom: 10px;
    }
  }

  // .footer__call-descr

  &__call-descr {
    font-family: var(--first-font);
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: var(--white-color);
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }

    @media (max-width: $breakpoint992) {
      display: none;
    }

    @media (max-width: $breakpoint768) {
      display: block;
      text-align: center;
    }
  }

  // .footer__booking-link

  &__booking-link {

    @media (max-width: $breakpoint480) {
      width: 100%;
    }
  }

  // .footer__bottom

  &__bottom {
    display: grid;
    grid-template-columns: 372px 254px 275px;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 90px;
    padding-top: 40px;
    border-top: 1px solid rgb(255, 255, 255, 0.3);


    @media (max-width: $breakpoint992) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media (max-width: $breakpoint768) {
      grid-template-columns: repeat(1, 1fr);
      margin-bottom: 60px;
      justify-content: center;
    }
  }

  // .footer__menu

  &__menu {


    @media (max-width: $breakpoint992) {
      display: none;
    }
  }

  // .footer__menu-title

  &__menu-title {}

  // .footer__menu-list

  &__menu-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }

  // .footer__menu-item

  &__menu-item {}

  // .footer__menu-link

  &__menu-link {
    font-family: var(--first-font);
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: var(--white-color);
  }

  // .footer__addresses

  &__addresses {


    @media (max-width: $breakpoint992) {
      max-width: 255px;
    }

    @media (max-width: $breakpoint768) {
      margin: 0 auto;
      margin-bottom: 40px;
      text-align: center;
    }
  }

  // .footer__addresses-title

  &__addresses-title {}

  // .footer__addresses-list

  &__addresses-list {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  // .footer__addresses-item

  &__addresses-item {}

  // .footer__addresses-link

  &__addresses-link {
    display: flex;
    align-items: flex-start;
    gap: 10px;
    font-family: var(--first-font);
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: var(--white-color);

    svg {
      min-width: 24px;
    }

    @media (max-width: $breakpoint768) {
      text-align: left;
    }

    &:hover {
      text-decoration: underline;
    }
  }

  // .footer__socials

  &__socials {


    @media (max-width: $breakpoint992) {
      justify-self: flex-end;
      padding-right: 125px;
    }

    @media (max-width: $breakpoint768) {
      padding-right: 0;
      justify-self: center;
      text-align: center;
    }
  }

  // .footer__socials-title

  &__socials-title {}

  // .footer__socials-list

  &__socials-list {
    display: flex;
    align-items: center;
    gap: 10px;

    @media (max-width: $breakpoint768) {
      justify-content: center;
    }
  }

  // .footer__socials-item

  &__socials-item {}

  // .footer__socials-link

  &__socials-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 33px;
    height: 33px;
    background-color: var(--brown-color);
    border-radius: 100%;
  }

  // .footer__socials-img

  &__socials-img {}

  // .footer__copys

  &__copys {
    display: flex;
    justify-content: space-between;
    align-items: center;


    @media (max-width: $breakpoint992) {
      padding-right: 60px;
    }

    @media (max-width: $breakpoint768) {
      flex-direction: column;
      padding-right: 0;
      gap: 25px;
      text-align: center;
    }
  }

  // .footer__copy

  &__copy {
    font-family: var(--first-font);
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: var(--white-color);
  }

  // .footer__political

  &__political {
    font-family: var(--first-font);
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: var(--white-color);
  }
}

.footer-title {
  margin-bottom: 25px;
  font-family: var(--second-font);
  font-size: 24px;
  line-height: 110%;
  letter-spacing: 0.02em;
  color: var(--white-color);

  @media (max-width: $breakpoint768) {
    margin-bottom: 20px;
  }
}



/////////////// top link styles//////////////////////////////////////////

.top-link {
  transition: all .25s ease-in-out;
  position: fixed;
  bottom: 0;
  right: 0;
  display: inline-flex;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  margin: 0 3em 3em 0;
  border-radius: 50%;
  // padding: .25em;
  width: 68px;
  height: 68px;
  // background-color: #F8F8F8;

  @media (max-width: $breakpoint480) {
    margin: 0 1em 1em 0;
  }

  &.show {
    visibility: visible;
    opacity: 1;
  }

  &.hide {
    visibility: hidden;
    opacity: 0;
  }

  svg {
    width: 68px;
    height: 68px;
  }

  svg circle {
    transition: all 0.2s linear;
  }

  &:hover {
    // background-color: #E8E8E8;

    svg circle {
      fill: var(--green-color);
    }
  }
}

// // Text meant only for screen readers.
// .screen-reader-text {
//   position: absolute;
//   clip-path: inset(50%);
//   margin: -1px;
//   border: 0;
//   padding: 0;
//   width: 1px;
//   height: 1px;
//   overflow: hidden;
//   word-wrap: normal !important;
//   clip: rect(1px, 1px, 1px, 1px);

//   &:focus {
//     display: block;
//     top: 5px;
//     left: 5px;
//     z-index: 100000; // Above WP toolbar
//     clip-path: none;
//     background-color: #eee;
//     padding: 15px 23px 14px;
//     width: auto;
//     height: auto;
//     text-decoration: none;
//     line-height: normal;
//     color: #444;
//     font-size: 1em;
//     clip: auto !important;
//   }
// }