.form {
  position: absolute;
  max-width: 1190px;
  width: 100%;
  margin: 0 auto;
  margin-top: -210px;
  left: 50%;
  transform: translateX(-50%);

  @media (max-width: $breakpoint992) {
    max-width: 604px;
    margin-top: -302px;
  }

  @media (max-width: $breakpoint768) {
    max-width: calc(100%);
    margin-top: -400px;
  }

  // .form__inner

  &__inner {
    margin: 0 auto;
    padding: 60px;
    background-color: var(--green-color);

    @media (max-width: $breakpoint992) {
      padding: 40px;
    }

    @media (max-width: $breakpoint768) {
      padding: 40px 20px;
    }
  }


  // .form__title

  &__title {
    margin-bottom: 45px;
    font-family: var(--second-font);
    font-weight: 400;
    font-size: 30px;
    line-height: 110%;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--white-color);

    @media (max-width: $breakpoint992) {
      margin-bottom: 40px;
      font-size: 24px;
      line-height: 125%;
      text-align: center;
    }
  }

  // .form__list

  &__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px 30px;
    margin-bottom: 45px;

    @media (max-width: $breakpoint992) {
      grid-template-columns: repeat(2, 1fr);
      gap: 30px 20px;
      margin-bottom: 30px;
    }

    @media (max-width: $breakpoint768) {
      grid-template-columns: repeat(1, 1fr);
    }
  }

  // .form__item

  &__item {

    &:last-child {
      grid-column: span 3;
    }

    @media (max-width: $breakpoint992) {
      &:last-child {
        grid-column: span 2;
      }

      &:nth-child(3) {
        grid-column: span 2;
      }
    }

    @media (max-width: $breakpoint768) {
      &:last-child {
        grid-column: span 1;
      }

      &:nth-child(3) {
        grid-column: span 1;
      }
    }
  }

  // .form__input

  &__input {}

  // .form__input--textarea

  &__input--textarea {
    width: 100%;
    border-bottom: 1px solid var(--white-color);
    background-color: transparent;
    font-family: var(--first-font);
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: var(--white-color);
    transition: all 0.3s linear;
    opacity: 0.7;
    outline: 0;
    resize: none;

    &::placeholder {
      font-family: var(--first-font);
      font-weight: 400;
      font-size: 16px;
      line-height: 20px;
      color: var(--white-color);
    }

    &:hover {
      opacity: 1;
    }

    &:focus {
      border-color: var(--brown-color);
      opacity: 1;
    }

    &:active {
      border-color: var(--yellow-color);
      opacity: 1;
    }

    &.js_error {
      border-color: #EA0000;
      color: #EA0000;
      opacity: 1;
    }


    @media (max-width: $breakpoint992) {
      height: 120px;
    }

  }

  // .form__footer

  &__footer {
    display: flex;
    align-items: center;
    gap: 30px;

    @media (max-width: $breakpoint992) {
      flex-direction: column;
      align-items: center;
      gap: 20px;
    }
  }

  // .form__btn

  &__btn {

    @media (max-width: $breakpoint992) {
      width: 100%;
    }
  }

  // .form__political

  &__political {
    font-size: 14px;
    line-height: 18px;
    color: var(--white-color);

    @media (max-width: $breakpoint992) {
      text-align: center;
    }
  }

  // .form__political-link

  &__political-link {
    font-size: 14px;
    line-height: 18px;
    color: var(--brown-color);
  }
}