.founder-thought {
  background-color: var(--grey-color);

  & .info__main {
    margin-bottom: 0;
  }

  @media (max-width: $breakpoint992) {
    & .info__picture {
      display: block;
    }

    & .info__main {
      gap: 20px;
      margin-bottom: 0;
    }
  }

  @media (max-width: $breakpoint768) {
    & .info__main {
      flex-direction: column;
      gap: 30px;
    }

    & .info__img {
      max-width: 100%;
      width: 100%;
    }
  }



}

.founder-thought-article {

  & .news__item {
    display: block;
  }

  & .news__item-title {
    margin-bottom: 30px;
    max-width: 360px;
  }
}




.founder-thought-detal {

  // .founder-thought-detal__top

  &__top {
    padding: 60px;
    margin-bottom: 80px;
    background-color: var(--grey-color);

    @media (max-width: $breakpoint992) {
      padding: 60px 20px;
      margin-bottom: 60px;
    }
  }

  // .founder-thought-detal__title

  &__title {
    padding-bottom: 0;
    margin-bottom: 30px;

    &::after {
      content: none;
    }

    @media (max-width: $breakpoint992) {
      padding-bottom: 0;
    }

    @media (max-width: $breakpoint768) {
      br {
        display: none;
      }
    }

  }

  // .founder-thought-detal__descr

  &__descr {
    max-width: 740px;
    margin-bottom: 40px;
  }

  // .founder-thought-detal__info

  &__info {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media (max-width: $breakpoint992) {
      align-items: flex-end;
    }

    @media (max-width: $breakpoint768) {
      flex-direction: column;
      align-items: flex-start;
      gap: 30px;
    }

  }

  // .founder-thought-detal__author

  &__author {
    display: flex;
    align-items: center;
    gap: 20px;
  }

  // .founder-thought-detal__author-img

  &__author-img {
    width: 90px;
    height: 90px;
    min-width: 90px;
    border-radius: 100%;
  }

  // .founder-thought-detal__author-texts

  &__author-texts {}

  // .founder-thought-detal__author-label

  &__author-label {
    margin-bottom: 5px;

  }

  // .founder-thought-detal__author-title

  &__author-title {
    font-family: var(--first-font-bold);
    font-weight: 700;
    font-size: 20px;
    line-height: 25px;
    color: var(--brown-color);
  }

  // .founder-thought-detal__date

  &__date {}
}