// Container
.container {
  max-width: ($containerWidth + $containerPadding) + px;
  width: 100%;
  margin: 0 auto;
  padding: 0 $containerSidePadding + px;

  @media (max-width: $breakpoint1450) {
    // max-width: 1200px;
  }

  @media (max-width: $breakpoint992) {
    // max-width: 970px;
  }

  @media (max-width: $breakpoint768) {
    // max-width: 740px;
  }

  @media (max-width: $breakpoint480) {
    // max-width: none;
  }
}

// Body Locked
body {
  font-family: var(--first-font);
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  color: var(--green-color);

  &.locked {
    overflow: hidden;
  }

  @media (max-width: $breakpoint768) {
    font-size: 16px;
    line-height: 20px;
  }
}

// Animations
// Fade
@keyframes fade {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

html,
body {
  scroll-behavior: smooth;
}

html {
  min-height: 100vh;
}

body {
  min-height: 100vh;
}

.main__body {
  display: flex;
  flex-direction: column;
  padding-right: 0 !important;
}

.disable-scroll {
  position: static !important;
  height: auto !important;
}

main {
  flex: 1 1 auto;
  height: 100%;
}

.breadcrumbs {
  padding: 40px 0;

  @media (max-width: $breakpoint768) {
    padding: 30px 0;
    overflow-x: auto;

    &::-webkit-scrollbar {
      display: none;
    }
  }

}

.breadcrumbs__list {
  display: flex;
  align-items: center;
}

.breadcrumbs__item {
  position: relative;
  font-size: 12px;
  line-height: 15px;
  white-space: nowrap;
}

.breadcrumbs__item:not(:last-child) {
  margin-right: 30px;

  &::after {
    content: '';
    position: absolute;
    right: -22px;
    top: 50%;
    width: 10px;
    height: 10px;
    transform: translateY(-50%);
    background-image: url('../img/breadcrumbs-arrow.svg');
    background-repeat: no-repeat;
  }
}

.breadcrumbs__link {
  white-space: nowrap;
  font-size: 12px;
  line-height: 15px;
  color: var(--green-color);
  opacity: 0.5;

  &:hover {
    opacity: 1;
  }
}