// Navbar
.nav {
  position: relative;
  z-index: 5;
}

.navbar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding-top: 30px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.navbar__top {
  display: flex;
  align-content: inherit;
  justify-content: space-between;
  padding-bottom: 30px;

  @media (max-width: $breakpoint768) {
    margin-right: 10px;
  }
}

.navbar__booked {
  display: flex;
  align-items: center;
  gap: 40px;

  @media (max-width: $breakpoint992) {
    gap: 30px;
  }

  @media (max-width: $breakpoint768) {
    gap: 10px;
  }
}

.logo {
  display: flex;
  align-items: flex-end;
  gap: 30px;
}

.logo-img {
  width: 100px;

  @media (max-width: $breakpoint480) {
    width: 70px;
  }
}

.logo__name {
  font-size: 16px;
  line-height: 20px;
  color: var(--white-color);

  @media (max-width: $breakpoint480) {
    display: none;
  }
}

.navbar__calls {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navbar__call-num {
  margin-bottom: 5px;
  font-size: 20px;
  line-height: 25px;
  color: var(--white-color);

  @media (max-width: $breakpoint768) {
    font-size: 0;
    line-height: 0;
    width: 50px;
    height: 50px;
    margin-bottom: 0;
    background-image: url('../img/header-phone.svg');
    background-repeat: no-repeat;
  }
}

.navbar__call-text {
  font-size: 16px;
  line-height: 20px;
  color: var(--white-color);

  @media (max-width: $breakpoint768) {
    display: none;
  }
}

.menu {
  position: relative;
  display: flex;
  justify-content: center;
  gap: 50px;

  @media (max-width: $breakpoint1450) {
    justify-content: space-between;
    gap: 20px;
  }

  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: var(--white-color);
    opacity: 0.3;
  }

  &::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: var(--white-color);
    opacity: 0.3;
  }

  // .menu__item
  &__item {}

  // .menu__item-link
  &__item-link {
    position: relative;
    display: inline-flex;
    align-items: center;
    height: 72px;
    font-size: 16px;
    line-height: 20px;
    color: var(--white-color);

    &::after {
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 1px;
      background-color: var(--white-color);
      transition: all 0.2s linear;
    }

    &:hover::after {
      content: '';
    }

    @media (max-width: $breakpoint992) {
      height: auto;
    }
  }
}

.burger {
  display: none;
  cursor: pointer;
}

// Burger menu styles
@media screen and (max-width: $burgerBreakpoint) {

  .navbar__top {
    z-index: 23;
  }

  // .menu
  .menu {
    position: fixed;
    background: var(--white-color);
    left: 0;
    top: 0;
    height: 100vh;
    width: 100vw;
    display: none;

    &.active {
      display: flex;
      left: 0;
      top: 0;
      height: 105vh;
      width: 100vw;
      flex-direction: column;
      pointer-events: all;
      justify-content: flex-start;
      align-items: flex-start;
      padding: 115px 20px 0;
      z-index: 22;
      overflow-y: auto;
      animation: fade 0.1s linear;
    }
  }

  // .burger
  .burger {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 50px;
    width: 50px;
    min-width: 50px;
    margin-top: 13px;
    background-color: var(--brown-color);
    border-radius: 100%;
    z-index: 102;
    cursor: pointer;

    &.active-burger {
      &:before {
        background: #F8F8F8;
        transform: rotate(45deg);
        transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
        top: 24px;
      }

      &:after {
        background: #F8F8F8;
        transform: rotate(-45deg);
        bottom: 24px;
        transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
      }

      & span {
        transform: scale(0);
      }
    }

    &:before,
    &:after {
      content: '';
      position: absolute;
      height: 1px;
      width: 25px;
      background: #F8F8F8;
      transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
    }

    &:before {
      top: 17px;
    }

    &::after {
      bottom: 16px;
    }

    span {
      position: absolute;
      top: 25px;
      right: 12px;
      width: 25px;
      background: #F8F8F8;
      height: 1px;
      transform: scale(1);
      transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
    }
  }

  // .menu__item
  .menu__item {
    margin-top: 0;
    width: 100%;

    &:not(:last-child) {
      border-bottom: 1px solid var(--brown-color);

      & .menu__item-link {
        padding-bottom: 16px;
      }
    }

    &:not(:first-child) .menu__item-link {
      padding-top: 16px;
    }
  }

  // .menu__link
  .menu__item-link {
    color: var(--green-color);
  }

  .navbar {
    flex-direction: row;
    justify-content: space-between;
  }

  .navbar__top {
    width: 100%;
    margin-right: 10px;
  }

  .navbar__link {
    width: 50px;
    height: 50px;
    background: 0;
    background-image: url('../img/header-booking.svg');
    background-repeat: no-repeat;
    padding: 0;
    font-size: 0;
    line-height: 0;
    border: 0;


    &:hover {
      background-color: transparent;
      border: 0;
    }
  }

}

.burger {
  @media (max-width: $breakpoint480) {
    margin-top: 0;
  }
}

.nav {

  // .nav__footer

  &__footer {
    display: none;
    margin-top: auto;
    padding-bottom: 25px;
  }

  // .nav__footer-links

  &__footer-links {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 25px;

    @media (max-width:359px) {
      flex-wrap: wrap;
      gap: 20px 10px;
      justify-content: center;
    }
  }

  // .nav__footer-link

  &__footer-link {
    display: flex;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
    font-size: 22px;
    line-height: 28px;
    color: var(--green-color);

    &:first-child {
      margin-right: 10px;
    }

    @media (max-width: $breakpoint480) {
      font-size: 20px;
      line-height: 24px;
    }

    @media (max-width:359px) {
      &:nth-child(1) {
        flex: 0 1 100%;
      }
    }
  }

  // .nav__footer-geo

  &__footer-geo {
    display: flex;
    align-items: flex-start;
    gap: 12px;

    svg {
      min-width: 18px;
    }
  }

  // .nav__footer-geo-text

  &__footer-geo-text {
    font-size: 16px;
    line-height: 20px;
  }
}


.main__body.locked {
  & .navbar__link {
    background-image: url('../img/header-booking-green.svg');
  }

  & .navbar__call-num {
    font-size: 0;
    line-height: 0;
    width: 50px;
    height: 50px;
    margin-bottom: 0;
    background-image: url('../img/header-phone-green.svg');
    background-repeat: no-repeat;
  }

  & .navbar__call-text {
    display: none;
  }

  & .navbar__booked {
    gap: 10px;
  }

  & .logo__name {
    display: none;
  }

  & .logo-img {
    display: none;
  }

  & .logo a {
    display: inline-flex;
    width: 100px;
    height: 67px;
    background-image: url('../img/logo-green.svg');
    background-repeat: no-repeat;
  }

  & .burger {
    margin-top: 9px;
  }

  & .nav__footer {
    display: block;
  }

  & .menu {
    gap: 0;
  }

  & .nav.fixed__nav {
    .menu {
      padding: 115px 20px 0;
    }
  }

}



//styles for fixed nav

// Navbar
.nav.fixed__nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  max-width: 1160px;
  width: 100%;
  margin: 0 auto;
  // background-color: var(--white-color);

  & .navbar {
    position: relative;
    display: flex;
    padding-top: 8px;

    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: -5000%;
      right: 0;
      width: 10000%;
      height: 70px;
      background-color: var(--white-color);
      box-shadow: 0px 19px 36px rgba(0, 0, 0, 0.07);
      z-index: -1;
    }
  }

  & .logo-img {
    display: none;
  }

  & .logo {
    z-index: 3;
  }

  & .logo a {
    display: inline-flex;
    width: 60px;
    height: 47px;
    background-image: url('../img/logo-green.svg');
    background-repeat: no-repeat;
    background-size: contain;
  }

  & .logo__name {
    display: none;
  }

  & .navbar__top {
    padding-bottom: 0;
  }

  & .navbar__link {
    width: 50px;
    height: 50px;
    background: 0;
    background-image: url('../img/header-booking-brown.svg');
    background-repeat: no-repeat;
    padding: 0;
    font-size: 0;
    line-height: 0;
    border: 0;


    &:hover {
      background-color: transparent;
      border: 0;
    }
  }

  & .navbar__call-num {
    margin-bottom: 0;
    line-height: 23px;
    color: var(--green-color);
  }

  & .navbar__call-text {
    font-size: 14px;
    line-height: 18px;
    color: var(--green-color);
  }

  & .menu {
    justify-content: flex-start;
    gap: 15px;
    margin-top: -30px;
    padding-left: 100px;

    &::before,
    &::after {
      content: none;
    }
  }

  & .menu__item-link {
    height: auto;
    font-size: 14px;
    line-height: 18px;
    color: var(--green-color);

    &:hover::after {
      content: none;
    }
  }

  @media (max-width:1200px) {
    padding: 0 15px;

    & .navbar__call-num {
      font-size: 0;
      line-height: 0;
      width: 50px;
      height: 50px;
      margin-bottom: 0;
      background-image: url('../img/header-phone-green.svg');
      background-repeat: no-repeat;
    }

    & .navbar__call-text {
      display: none;
    }

    & .navbar__booked {
      gap: 10px;
    }

    & .menu {
      padding-left: 80px;
      margin-top: -35px;
    }
  }

  @media (max-width: $breakpoint992) {
    & .burger {
      margin-top: 0;
    }

    & .navbar__link {
      background-image: url('../img/header-booking-green.svg');
    }
  }
}




//header others

.header.header--development-page {
  overflow: hidden;

  .nav.fixed__nav {
    .navbar::after {
      height: 72px;
      background-color: var(--grey-color);
    }

    .navbar::before {
      content: none;
    }
  }

  .navbar {
    position: relative;

    &::after {
      content: '';
      position: absolute;
      left: -5000%;
      top: 0;
      width: 10000%;
      height: 100%;
      background-color: var(--green-color);
      z-index: -2;
    }

    &::before {
      content: '';
      position: absolute;
      left: -5000%;
      bottom: 0;
      width: 10000%;
      height: 72px;
      background-color: var(--grey-color);
      z-index: -1;

      @media (max-width: $breakpoint992) {
        content: none;
      }
    }
  }

  .menu__item-link {
    color: var(--green-color);

    &::after {
      background-color: var(--green-color);
    }
  }
}