.info {
  padding: 100px 0 100px 0;
  background-color: var(--white-color);

  @media (max-width: 768px) {
    padding: 80px 0;
  }

  // .info__inner

  &__inner {}

  // .info__main

  &__main {
    display: flex;
    gap: 60px;
    margin-bottom: 70px;

    @media (max-width: $breakpoint992) {

      margin-bottom: 50px;
    }

    @media (max-width: $breakpoint768) {
      flex-direction: column;
      gap: 30px;
      margin-bottom: 30px;
    }
  }

  // .info__info

  &__info {}

  // .info__title

  &__title {
    margin-bottom: 40px;

    @media (max-width: $breakpoint992) {
      margin-bottom: 30px;
    }
  }

  // .info__descr

  &__descr {
    max-width: 727px;

    &:nth-child(2) {
      margin-bottom: 20px;
    }

    &:nth-child(3) {
      margin-bottom: 50px;
    }

    @media (max-width: $breakpoint992) {
      max-width: 100%;

      &:nth-child(2) {
        margin-bottom: 15px;
      }

      &:nth-child(3) {
        margin-bottom: 30px;
      }
    }

  }

  // .info__author

  &__author {
    max-width: 300px;

    @media (max-width: $breakpoint992) {
      max-width: 100%;
    }

  }

  // .info__author-name

  &__author-name {
    margin-bottom: 5px;
    font-family: var(--first-font-bold);
    font-weight: 700;
    font-size: 20px;
    line-height: 25px;
    color: var(--brown-color);
  }

  // .info__author-position

  &__author-position {}

  // .info__picture

  &__picture {}

  // .info__img

  &__img {

    @media (max-width: $breakpoint768) {
      max-width: 100%;
      width: 100%;
    }

  }

  // .info__counts

  &__counts {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;

    @media (max-width: $breakpoint768) {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  // .info__count

  &__count {
    height: 100px;

    &:not(:first-child) {
      padding-left: 65px;
    }

    &:not(:last-child) {
      padding-right: 65px;
      border-right: 1px solid rgba(179, 132, 79, 0.3);
    }

    @media (max-width: $breakpoint1450) {
      height: auto;


      &:not(:first-child) {
        padding-left: 0;
      }

      &:not(:last-child) {
        padding-right: 0;
        border-right: none;
      }
    }

    @media (max-width: $breakpoint768) {
      display: flex;
      justify-content: space-between;
      gap: 20px;
      width: 100%;

      &:not(:first-child) {
        padding-top: 30px;
      }

      &:not(:last-child) {
        padding-bottom: 30px;
        border-bottom: 1px solid var(--brown-color);
      }
    }

  }

  // .info__count-num

  &__count-num {
    margin-bottom: 5px;
    font-family: var(--second-font);
    font-weight: 400;
    font-size: 50px;
    line-height: 110%;
    color: var(--green-color);

    @media (max-width: $breakpoint992) {
      font-size: 40px;
    }

    @media (max-width: $breakpoint768) {
      font-size: 35px;
    }

  }

  // .info__count-descr

  &__count-descr {
    white-space: nowrap;
    font-size: 16px;
    line-height: 20px;

    @media (max-width: $breakpoint768) {
      white-space: normal;
      text-align: right;
      padding-right: 50px;
    }

    @media (max-width: $breakpoint480) {
      padding-right: 20px;
    }
  }
}

.info__author-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;

  @media (max-width: $breakpoint992) {
    flex-direction: column;
    align-items: flex-start;
  }
}

.info__author-link {
  white-space: nowrap;
}

.info__author-mobile {
  display: none;

  @media (max-width: $breakpoint992) {
    display: block;
    width: 97px;
    height: 97px;
  }
}