.info {
  padding: 185px 0 100px 0;
  background-color: var(--white-color);

  // .info__inner

  &__inner {}

  // .info__main

  &__main {
    display: flex;
    gap: 60px;
    margin-bottom: 70px;
  }

  // .info__info

  &__info {}

  // .info__title

  &__title {
    margin-bottom: 40px;
  }

  // .info__descr

  &__descr {
    max-width: 727px;

    &:nth-child(2) {
      margin-bottom: 20px;
    }

    &:nth-child(3) {
      margin-bottom: 50px;
    }
  }

  // .info__author

  &__author {
    max-width: 300px;
  }

  // .info__author-name

  &__author-name {
    margin-bottom: 5px;
    font-family: var(--first-font-bold);
    font-weight: 700;
    font-size: 20px;
    line-height: 25px;
    color: var(--brown-color);
  }

  // .info__author-position

  &__author-position {}

  // .info__picture

  &__picture {}

  // .info__img

  &__img {}

  // .info__counts

  &__counts {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }

  // .info__count

  &__count {
    height: 100px;

    &:not(:first-child) {
      padding-left: 65px;
    }

    &:not(:last-child) {
      padding-right: 65px;
      border-right: 1px solid rgba(179, 132, 79, 0.3);
    }
  }

  // .info__count-num

  &__count-num {
    margin-bottom: 5px;
    font-family: var(--second-font);
    font-weight: 400;
    font-size: 50px;
    line-height: 110%;
    color: var(--green-color);
  }

  // .info__count-descr

  &__count-descr {
    white-space: nowrap;
    font-size: 16px;
    line-height: 20px;
  }
}