// ************************ Модальное окно ************************ //
.graph-modal__container {
  padding: 0;
}

.graph-modal__close {
  right: 0px;
  top: -34px;
  background-image: url('../img/cancel.svg');
  outline: 0;
}

.graph-modal__content {
  height: 600px;
}

.youtube-iframe {
  width: 100%;
  height: 100%;
}