.news-more {
  padding-bottom: 80px;

  @media (max-width: $breakpoint992) {
    padding-bottom: 80px;
  }

  &__title {
    text-align: left;
  }

  // .news-more__footer

  &__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;


    @media (max-width: $breakpoint768) {
      flex-direction: column;
      gap: 20px;
    }
  }

  // .news-more__nav

  &__nav {
    display: flex;
    align-items: center;
    gap: 15px;
  }

  // .news-more__nav-prev

  &__nav-prev {}

  // .news-more__nav-prev--disabled

  &__nav-prev--disabled {
    opacity: 0.3;
    user-select: none;
    pointer-events: none;
    cursor: default;
  }

  // .news-more__nav-list

  &__nav-list {
    display: flex;
    align-items: center;
    gap: 15px;
  }

  // .news-more__nav-item

  &__nav-item {
    border-bottom: 1px solid transparent;
    color: var(--brown-color);
  }

  // .news-more__nav-item--active

  &__nav-item--active {
    border-bottom: 1px solid var(--brown-color);
    color: var(--green-color);

    & .news-more__nav-link {
      color: var(--green-color);
    }
  }

  // .news-more__nav-link

  &__nav-link {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 14px 10px;
    color: var(--brown-color);

    &:hover {
      color: var(--green-color);
    }
  }

  // .news-more__nav-next

  &__nav-next {}

  // .news-more__more

  &__more {


    @media (max-width: $breakpoint768) {
      width: 100%;
    }
  }
}