.news-detal {
  margin-bottom: 100px;

  @media (max-width: $breakpoint992) {
    padding-bottom: 75px;
  }

  // .news-detal__inner

  &__inner {}

  // .news-detal__top

  &__top {
    padding: 60px;
    margin-bottom: 50px;
    background-position: center;

    @media (max-width: $breakpoint992) {
      padding: 60px 20px;
      margin-bottom: 40px;
    }

    @media (max-width: $breakpoint768) {
      margin-bottom: 20px;
    }
  }

  // .news-detal__top-title

  &__top-title {
    padding-bottom: 0;
    margin-bottom: 30px;
    color: var(--white-color);

    &::after {
      content: none;
    }
  }

  // .news-detal__top-descr

  &__top-descr {
    max-width: 740px;
    margin-bottom: 80px;
    color: var(--white-color);

    @media (max-width: $breakpoint992) {
      margin-bottom: 130px;
    }

    @media (max-width: $breakpoint768) {
      margin-bottom: 60px;
    }
  }

  // .news-detal__top-date

  &__top-date {
    color: var(--white-color);
  }

  // .news-detal__booking

  &__booking {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
    margin-bottom: 30px;

    @media (max-width: $breakpoint992) {
      gap: 12px;
      margin-bottom: 20px;
    }

    @media (max-width: $breakpoint768) {
      grid-template-columns: repeat(1, 1fr);
      gap: 20px;
      margin-bottom: 10px;
    }
  }

  // .news-detal__booking-info

  &__booking-info {
    padding: 30px;
    background-color: var(--grey-color);

    @media (max-width: $breakpoint768) {
      padding: 30px 20px;
    }
  }

  // .news-detal__booking-title

  &__booking-title {
    margin-bottom: 20px;
    font-family: var(--second-font);
    font-weight: 400;
    font-size: 24px;
    line-height: 110%;
    letter-spacing: 0.02em;
  }

  // .news-detal__booking-label

  &__booking-label {
    font-family: var(--first-font-bold);
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;

  }

  // .news-detal__booking-descr

  &__booking-descr {
    font-size: 16px;
    line-height: 20px;

    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }

  // .news-detal__attention

  &__attention {
    margin-bottom: 50px;
    font-size: 14px;
    line-height: 18px;


    @media (max-width: $breakpoint992) {
      margin-bottom: 40px;
    }

    @media (max-width: $breakpoint768) {
      margin-bottom: 50px;
    }
  }

  // .news-detal__title

  &__title {
    margin-bottom: 25px;
    font-family: var(--second-font);
    font-weight: 400;
    font-size: 30px;
    line-height: 110%;
    letter-spacing: 0.03em;

    @media (max-width: $breakpoint768) {
      font-size: 24px;
      line-height: 120%;
    }
  }

  // .news-detal__descr

  &__descr {
    margin-bottom: 50px;

    & span {
      color: var(--brown-color);
    }

    & p:not(:last-child) {
      margin-bottom: 10px;
    }
  }

  // .news-detal__prices-list

  &__prices-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 50px;
  }

  // .news-detal__prices-item

  &__prices-item {}

  // .news-detal__prices--brown

  &__prices--brown {
    color: var(--brown-color);
  }

  // .news-detal__prices-item--little

  &__prices-item--little {
    font-size: 14px;
    line-height: 18px;
  }

  // .news-detal__eat-list

  &__eat-list {
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  // .news-detal__eat-item

  &__eat-item {}

  // .news-detal__eat-item--time

  &__eat-item--time {
    color: var(--brown-color);
  }

  // .news-detal__eat-item--price

  &__eat-item--price {}

  // .news-detal__eat-item--little

  &__eat-item--little {
    font-size: 14px;
    line-height: 18px;
  }

  // .news-detal__picture

  &__picture {
    margin-bottom: 50px;

    @media (max-width: $breakpoint992) {
      margin-bottom: 40px;
    }

    @media (max-width: $breakpoint768) {
      margin-bottom: 30px;
    }
  }

  // .news-detal__img

  &__img {
    max-width: 100%;
    margin-bottom: 15px;

    @media (max-width: $breakpoint768) {
      margin-bottom: 10px;
    }

  }

  // .news-detal__picture-descr

  &__picture-descr {
    font-size: 16px;
    line-height: 20px;

    &~.news-detal__img {
      margin-top: 20px;
      margin-bottom: 0;
    }
  }

  // .news-detal__factor

  &__factor {
    display: flex;
    align-items: flex-start;
    gap: 20px;
    margin-bottom: 60px;
    padding: 30px;
    background-color: var(--grey-color);
    font-size: 16px;
    line-height: 20px;

    svg {
      width: 20px;
      height: 20px;
      min-width: 20px;
    }

    @media (max-width: $breakpoint768) {
      margin-bottom: 40px;
    }
  }

  // .news-detal__factor-text

  &__factor-text {}
}

.news-detal {

  // .news-detal__slider

  &__slider {
    margin-bottom: 50px;
    overflow: hidden;
  }

  // .news-detal__slider-header

  &__slider-header {
    display: flex;
    align-items: center;
    margin-bottom: 50px;

    @media (max-width: 800px) {
      flex-wrap: wrap;
      margin-bottom: 60px;
    }

    @media (max-width: $breakpoint768) {
      margin-bottom: 40px;
    }
  }

  // .news-detal__slider-title

  &__slider-title {
    margin-bottom: 0;
    margin-right: 30px;

    @media (max-width: $breakpoint768) {
      flex: 0 1 100%;
    }
  }

  // .news-detal__slider-link

  &__slider-link {

    @media (max-width: 800px) {
      flex: 0 1 60%;
      justify-content: flex-start;
    }

    @media (max-width: $breakpoint768) {
      flex: 0 1 100%;
    }
  }

  // .news-detal__slider-control

  &__slider-control {
    display: flex;
    align-items: center;
    gap: 30px;
    margin-left: auto;

    @media (max-width: 800px) {
      margin-top: -30px;
    }

    @media (max-width: $breakpoint768) {
      display: none;
    }
  }

  // .news-detal__slider-prev

  &__slider-prev {
    cursor: pointer;

    &:hover {
      svg rect {
        stroke: var(--green-color);
      }
    }

    &.swiper-button-disabled {
      opacity: 0.3;

      &:hover {
        svg rect {
          stroke: var(--brown-color);
        }
      }
    }
  }

  // .news-detal__slider-next

  &__slider-next {
    cursor: pointer;

    &:hover {
      svg rect {
        stroke: var(--green-color);
      }
    }

    &.swiper-button-disabled {
      opacity: 0.3;

      &:hover {
        svg rect {
          stroke: var(--brown-color);
        }
      }
    }
  }

  // .news-detal__slider-wrapper

  &__slider-wrapper {}

  // .news-detal__slide

  &__slide {
    width: 275px !important;
    height: 220px;
  }

  // .news-detal__slide-img

  &__slide-img {
    max-width: 100%;
    height: 100%;
  }
}

.news-detal {

  // .news-detal__main-title

  &__main-title {
    padding-bottom: 0;
    margin-bottom: 20px;

    &::after {
      content: none;
    }
  }

  // .news-detal__second-title

  &__second-title {
    margin-bottom: 20px;
    font-family: var(--second-font);
    font-weight: 400;
    font-size: 50px;
    line-height: 110%;
    letter-spacing: 0.02em;
    text-transform: uppercase;

    @media (max-width: $breakpoint992) {
      font-size: 35px;
    }

    @media (max-width: $breakpoint768) {
      font-size: 26px;
    }

  }

  // .news-detal__third

  &__third-title {
    margin-bottom: 20px;
    font-family: var(--second-font);
  }

  // .news-detal__four-title

  &__four-title {
    margin-bottom: 20px;
    font-family: var(--second-font);
    font-size: 24px;
    line-height: 110%;
    letter-spacing: 0.02em;

    @media (max-width: $breakpoint992) {
      font-size: 18px;
    }
  }

  // .news-detal__five-title

  &__five-title {
    margin-bottom: 20px;
    font-family: var(--second-font);
    font-size: 20px;
    line-height: 110%;
    letter-spacing: 0.02em;

    @media (max-width: $breakpoint992) {
      font-size: 14px;
    }
  }

  // .news-detal__footer-info

  &__footer-info {
    margin-bottom: 50px;
    font-size: 16px;
    line-height: 20px;

    & p:not(:last-child) {
      margin-bottom: 10px;
    }

    @media (max-width: $breakpoint992) {
      margin-bottom: 40px;
    }
  }

  // .news-detal__footer-lists

  &__footer-lists {
    display: flex;
    gap: 40px;
    padding-bottom: 85px;
    margin-bottom: 30px;
    border-bottom: 1px solid var(--brown-color);

    @media (max-width: $breakpoint992) {
      flex-direction: column;
    }

    @media (max-width: $breakpoint768) {
      padding-bottom: 60px;
    }
  }

  // .news-detal__footer-list

  &__footer-list {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 10px;

    &:nth-child(1) .news-detal__footer-item {
      position: relative;
      padding-left: 23px;

      &::before {
        content: '';
        position: absolute;
        left: 0;
        top: 7px;
        width: 8px;
        height: 8px;
        border-radius: 100%;
        background-color: var(--brown-color);
      }
    }

    &:nth-child(2) {
      list-style-type: none;
      counter-reset: list2;
    }

    &:nth-child(2) .news-detal__footer-item {
      position: relative;
      padding-left: 22px;
      list-style-type: none;

      &::before {
        position: absolute;
        left: 0;
        top: 0;
        counter-increment: list2;
        content: counter(list2) ". ";
        color: var(--brown-color);
      }
    }
  }

  // .news-detal__footer-item

  &__footer-item {
    font-size: 16px;
    line-height: 20px;
  }

  // .news-detal__footer-back

  &__footer-back {
    display: flex;
    align-items: center;
    gap: 10px;
    width: fit-content;
    font-size: 16px;
    line-height: 20px;
    color: var(--green-color);
  }
}