.prizes {
  padding: 100px 0;
  background-color: var(--white-color);

  @media (max-width: $breakpoint992) {
    padding: 80px 0;
  }

  // .prizes__inner

  &__inner {}

  // .prizes__title

  &__title {
    max-width: 860px;
    margin-bottom: 40px;

    @media (max-width: $breakpoint992) {
      margin-bottom: 30px;
    }
  }

  // .prizes__content

  &__content {
    display: flex;
    justify-content: space-between;
    gap: 45px 20px;

    @media (max-width: $breakpoint992) {
      flex-direction: column;
    }
  }

  // .prizes__infos

  &__infos {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  // .prizes__info

  &__info {
    position: relative;
    max-width: 750px;
    padding-left: 20px;

    @media (max-width: $breakpoint992) {
      width: 100%;
    }


    &::after {
      content: '';
      position: absolute;
      top: 7px;
      left: 0;
      width: 10px;
      height: 10px;
      border-radius: 100%;
      background-color: var(--yellow-color);
    }
  }

  // .prizes__images

  &__images {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: -24px;

    @media (max-width: $breakpoint992) {
      margin-top: 0;
      flex-direction: row;
      gap: 30px;
    }

    @media (max-width: $breakpoint768) {
      flex-direction: column;
    }
  }

  // .prizes__item

  &__item {}

  // .prizes__img

  &__img {}
}